body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background: #111;
    color: white;
    padding: 40px;
    text-align: center;
}

nav {
    background: #e63946;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

h2 {
    color: #e63946;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
